<%= form_for(@cart) do |f| %>
  <% if @cart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cart.errors.count, "error") %> prohibited this cart from being saved:</h2>

      <ul>
      <% @cart.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :batch_id %><br>
    <%= f.number_field :batch_id %>
  </div>
  <div class="field">
    <%= f.label :shopitem_id %><br>
    <%= f.number_field :shopitem_id %>
  </div>
  <div class="field">
    <%= f.label :shopitem_amount %><br>
    <%= f.number_field :shopitem_amount %>
  </div>
  <div class="field">
    <%= f.label :pay_amount %><br>
    <%= f.text_field :pay_amount %>
  </div>
  <div class="field">
    <%= f.label :selected %><br>
    <%= f.check_box :selected %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
