<h1>Listing carts</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Batch</th>
      <th>Shopitem</th>
      <th>Shopitem amount</th>
      <th>Pay amount</th>
      <th>Selected</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carts.each do |cart| %>
      <tr>
        <td><%= cart.user_id %></td>
        <td><%= cart.batch_id %></td>
        <td><%= cart.shopitem_id %></td>
        <td><%= cart.shopitem_amount %></td>
        <td><%= cart.pay_amount %></td>
        <td><%= cart.selected %></td>
        <td><%= link_to 'Show', cart %></td>
        <td><%= link_to 'Edit', edit_cart_path(cart) %></td>
        <td><%= link_to 'Destroy', cart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cart', new_cart_path %>
