<!--Dig session to get cart-->
<form>
  <% if @cart_array != nil %>
    <% if @cart_array.length > 0 %>
      <table>
        <thead>
          <tr>
            <th>&nbsp;</th><!--Select-->
            <th>Preview</th>
            <th>Shopitem ID</th>
            <th>Shopitem Name</th>
            <th>Unit</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <% @cart_array.each_with_index do |i, c| %>
            <tr>
              <td><input id="session_cart_item_<%= i %>" name="session_cart[item][<%= i %>]"></td>
              <td>&nbsp</td>
              <td><%= c[1] %></td>
              <td>&nbsp;</td>
              <td><%= c[2] %></td>
              <td>&nbsp;</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="panel">No item is added to the cart yet.</div>
    <% end %>
  <% else %>
    <div class="panel">No item is added to the cart yet.</div>
  <%end%>
</form>
Session:
<%= cookies.inspect %>