<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @batch.code %>
</p>

<p>
  <strong>Status:</strong>
  <%= @batch.status %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @batch.remark %>
</p>

<p>
  <strong>Active:</strong>
  <%= @batch.active %>
</p>

<p>
  <strong>User:</strong>
  <%= @batch.user_id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @batch.email %>
</p>

<p>
  <strong>Fullname:</strong>
  <%= @batch.fullname %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @batch.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @batch.address2 %>
</p>

<p>
  <strong>Address3:</strong>
  <%= @batch.address3 %>
</p>

<p>
  <strong>Address4:</strong>
  <%= @batch.address4 %>
</p>

<p>
  <strong>Address5:</strong>
  <%= @batch.address5 %>
</p>

<p>
  <strong>Address6:</strong>
  <%= @batch.address6 %>
</p>

<p>
  <strong>Country:</strong>
  <%= @batch.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @batch.city %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @batch.phone %>
</p>

<p>
  <strong>User remark:</strong>
  <%= @batch.user_remark %>
</p>

<%= link_to 'Edit', edit_batch_path(@batch) %> |
<%= link_to 'Back', batches_path %>
