<br />
<!-- Default itemperpage is 36 item per page -->
<% @tmp_itemperpage = getitemperpage %>
<!-- Get the max page number possible -->

<% if params[:page] == nil %>
  <% params[:page] = 1 %>
<% end %>
<% if params[:page].to_i <= 0 %>
  <% params[:page] = 1 %>
<% end %>
<% @tmp_count_from = (params[:page].to_i - 1) * @tmp_itemperpage %>
<% @tmp_count_to = (params[:page].to_i * @tmp_itemperpage) - 1 %>
<%#= @tmp_count_from %>
<%#= @tmp_count_to %>
<!-- Shop window Main Loop - Start -->
<% if getcurrentusername == "" || getcurrentusername == "root" %>
  <%= render 'shop_window_shopitem_viewer' %>
<% else %>
  <%= render 'shop_window_shopitem_buyer' %>
<% end %>
<!-- Shop window Main Loop - End -->
  
<hr />
  
<!-- Pageination - Start -->
<div class="pagination-centered">
  <ul class="pagination">
    <% if params[:page].to_i <= 1 %>
      <li class="arrow unavailable"><font color="#e9e9e9">&laquo;</font></li>
    <% else %>
      <li class="arrow"><%= link_to "&laquo;".html_safe, {:controller => :index, :action => :index, :page => params[:page].to_i - 1, :keyword => @selected_keyword, :tags => @selected_tags} %></li>
    <% end %>
    <% (1..@maxpagenum).each do |j| %>
      <% if j == params[:page].to_i %>
        <li class="current"><%= link_to j, {:controller => :index, :action => :index, :page => j, :keyword => @selected_keyword, :tags => @selected_tags} %></li>
      <% else %>
        <li><%= link_to j, {:controller => :index, :action => :index, :page => j, :keyword => @selected_keyword, :tags => @selected_tags} %></li>
      <% end %>
    <% end %>
    <% if params[:page].to_i >= @maxpagenum %>
      <li class="arrow unavailable"><font color="#e9e9e9">&raquo;</font></li>
    <% else %>
      <li class="arrow"><%= link_to "&raquo;".html_safe, {:controller => :index, :action => :index, :page => params[:page].to_i + 1, :keyword => @selected_keyword, :tags => @selected_tags} %><li>
    <% end %>
  </ul>
</div>
<!-- Pageination - End -->