<br />
<% @tmp_itemperpage = getitemperpage %>
<% if params.has_key?(:page) && params[:page].to_i > 0 %>
  <% @tmp_current_page = params[:page].to_i %>
<% else %>
  <% @tmp_current_page = 1 %>
<% end %>

<% @tmp_select_count = 0 %>
<% if @shopitems %>
  <% @tmp_select_count = @shopitems.count %>
<% end %>
<% @tmp_count_from = 0 %>
<% @tmp_count_to = 0 %>
<% @tmp_count_from = (@tmp_itemperpage * (@tmp_current_page - 1)) + 1 %>
<% if @tmp_count_from + @tmp_itemperpage - 1 <= @tmp_select_count %>
  <% @tmp_count_to = @tmp_count_from + @tmp_itemperpage - 1 %>
<% else %>
  <% tmp_count_to = @tmp_select_count %>
<% end %>
<% if @tmp_count_to <= @tmp_count_from %>
  <% @tmp_count_from = @tmp_count_to %>
<% end %>
<% @tmp_column_max = 6 %>
<% @j = 0 %>
<!-- Shop window Main Loop - Start -->
<form name="Shopwindow_form">
  <% if !@shopitems.empty? %>
    <% (@tmp_count_from..@tmp_count_to).each do |i| %>
      <!-- Start of new row per 6 -->
      <% if @j == 0 %>
        <div class="row">
      <% end %>
      <div class="small-2 columns">
        <%# if @shopitems.at(i - 1) %>
          <!-- Icon and link to sub-page - Start -->
          <a class="th" href="#" data-reveal-id="shopitem_<%= @shopitems.at(i - 1).id %>">
            <% if @shopitems.at(i - 1).image.preview_128.file.exists? %>
              <%= image_tag @shopitems.at(i - 1).image.preview_128.url, :size => "128x128" %>
            <% else %>
              <% if @shopitems.at(i - 1).image? %>
                <%= image_tag @shopitems.at(i - 1).image.url, :size => "128x128" %>
              <% else %>
                <%= image_tag 'noimage.gif' %>
              <% end %>
            <% end %>
          </a>
          <!-- Icon and link to sub-page - End -->
          <!-- Sub-page - Start -->
          <div id="shopitem_<%=@shopitems.at(i - 1).id %>" class="reveal-modal" data-reveal>
            <h3><%= @shopitems.at(i - 1).short_name %></h3>
            <div class="row">
              <div class="small-6 large-6 columns">
                <!-- Left side is Orbit window - Start -->
                <div class="owl-carousel">
                  <div><%= image_tag @shopitems.at(i - 1).image.url, :size => "800x800" %></div>
                  <!-- Add extra orbit picture - Start -->
                  <% if !@shopitems.at(i - 1).shopitem_images.empty? %>
                    <% @shopitems.at(i - 1).shopitem_images.each do |j| %>
                      <div>
                        <%= image_tag j.image.url, :size => "800x800" %>
                      </div>
                    <% end %>
                  <% end %>
                  <!-- Add extra orbit picture - End-->
                </div>
                </ul>
                <!-- Left side is Oribit Window - End -->
              </div>
              <div class="small-6 large-6 columns">
                <!-- Right side is Description - Start -->
                <table>
                  <tr><td><strong>Full name:</strong></td><td><%= @shopitems.at(i - 1).long_name %></td></tr>
                  <tr><td><strong>Stock:</strong></td><td><%= @shopitems.at(i - 1).stock %></td></tr>
                  <tr><td><strong>Price (HKD$):</strong></td><td><%= @shopitems.at(i - 1).price %></td></tr>
                  <tr><td><strong>Sold:</strong></td><td><%= @shopitems.at(i - 1).sales %></td></tr>
                  <tr><td colspan="2"><strong>Description:</strong></td></tr>
                  <tr><td colspan="2"><%= h(@shopitems.at(i - 1).descr).gsub(' ', '&nbsp;').gsub(/\n/, '<br />').html_safe %></td></tr>
                </table>
                <!-- Button for add to cart, and text field to adjust item number-->
                <!-- Right side is Description - End -->
                <div class="row">
                  <div class="small-3 large-3 columns">
                    <input type="number" name="shopitem_<%=@shopitems.at(i - 1).id%>_cart_amt" id="shopitem_<%=@shopitems.at(i - 1).id%>_cart_amt" value="1">
                  </div>
                  <div class="small-9 large-9 columns">
                    <a class="button" href="#" onclick="AddToCartFromIndex(<%=@shopitems.at(i - 1).id%>, $('#shopitem_<%=@shopitems.at(i - 1).id%>_cart_amt').val())">Add to Cart</a> 
                  </div>
                  </div>
                </div>
              </div>
              <a class="close-reveal-modal">&#215;</a>
            </div>
          </div>
          <!-- Sub-page - End -->
        <%# end %>
      </div>
    <% end %>
  <% end %>
</form>
<!-- Shop window Main Loop - End -->